* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(../images/pexels-rahul-pandit-2792386.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    transition: 1s;
    animation: ease-in-out;
    /* background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.meta-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35%;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    backdrop-filter: blur(3px) saturate(423%);
    -webkit-backdrop-filter: blur(19px) saturate(200%);
    background: linear-gradient(-45deg, #00e6001a, #f300f325, #06297528, #00e6001a, #f300f325, #06297528);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

h1 {
    color: #00ffd0;
    font-size: 5em;
    text-shadow: 0 4px 16px #02ffd1;
}

h3 {
    color: #00ffd0;
    text-shadow: 0 4px 16px #02ffd1;
    font-size: 2em;
}

::selection {
    color: rgb(20, 122, 100);
    background-color: rgb(179, 179, 179);
}